*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    height: 6vh;
    background-color: #0f1111;
    color: white;
}
nav a{
    margin-right: 7vw;
}
nav .amazon{
    font-size:25px;
    color: #f08804;
}
nav .search-button {
    background-color: #f0a504;
    padding: 2px;
}
nav .search-bar{
    text-align: center;
}