* {
    margin: 0;
    padding: 0;
}
.hyperlink-as-button{  
    border: 3px solid rgb(15, 15, 12);
    padding: 5px;
    margin: 10px;
    font-size: 30px;
    text-decoration:none;
    background-color: rgb(188, 236, 149);
    border-color: rgb(2, 3, 71);
    color: rgb(26, 29, 219);
}
.hyperlink-in-table{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-decoration:none;
    color: rgb(8, 8, 68);
}

.hyperlink-in-table, 
.hyperlink-as-button {
    display: inline-block;
    transition-property: all;
    transition-duration:0.2s;
    transition-timing-function:ease-in-out;
} 

.hyperlink-as-button:hover, 
.hyperlink-in-table:hover {
    color: brown;
    transform: scale(1.2);
}

body{
    background-color:rgb(219, 226, 191);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    padding: 10px;
    word-spacing: 4px;
    line-height: 1.2;
}
p, ul, dl, ol{
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    display: inline;
}
table{
    background-color:rgb(223, 232, 244);
    border-radius: 10px;
    position:relative;
    left: 35%;
}

/* 
phones have arround 
width: 950px;
height: 1900px;


thats exact for my phone when i run that on chrome
*/