.links {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(125, 138, 8);
    padding: 5px;
    margin: 20px;
    background-color: rgb(127, 255, 0);
    font-size: 30px;
    display: inline-block;
    padding-left: auto;
    color: rgb(172, 2, 157);

}
.links:hover{
    border-color: rgb(26, 29, 219);
    color: rgb(26, 29, 219);
    display: inline-block;
}
.links:focus{
    color: red;
    border-color: red;
}
.hyperlink_table{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-decoration:none;
    display: inline-block;
    color: rgb(8, 8, 68);
    transition-property: all;
    transition-duration:0.4s;
    transition-timing-function:ease-in-out;

}
.hyperlink_table:hover{
    text-decoration:underline;
    color: brown;
    transform: scale(1.3);
}
body{
    background-color:rgb(219, 226, 191);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    padding: 10px;
    word-spacing: 4px;
    line-height: 1.2;
}
p, ul, dl, ol{
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
}
table{
    background-color:rgb(223, 232, 244);
    border-radius: 10px;
}
#centerContainer{
    position: absolute;
    top: 30%;
    left: 35%;
}